{{#d-modal-body class="upload-selector import-pages" title="admin.landing_pages.import.title"}}
  <div class="inputs">
    <input onchange={{action "uploadFile"}} type="file" id="file-input" accept=".zip,application/zip"><br>
    <span class="description">{{i18n "admin.landing_pages.import.file_tip"}}</span>
  </div>
{{/d-modal-body}}

{{#unless popular}}
  <div class="modal-footer">
    {{d-button
      action=(action "importPage")
      disabled=importDisabled
      class="btn btn-primary"
      label="admin.landing_pages.import.button"}}
    {{d-modal-cancel close=(route-action "closeModal")}}
  </div>
{{/unless}}
