@import 'variables';

body.landing-page {
  .btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1em;
    cursor: pointer;
    color: $primary;
    background-color: $secondary;
    text-align: center;
    
    label {
      cursor: pointer;
    }
    
    &:not(.btn-label) {
      border: 1px solid $primary-low;
    }
  }

  .btn-primary {
    background-color: $tertiary;
    color: $secondary;
  }
}