@import 'variables';

#contact-form {
  display: flex;
  flex-direction: column;
  width: 30px;
  font-size: 1.1rem;
  
  input,
  textarea {
    margin-bottom: 10px;
    border: 1px solid rgba($primary, 0.3);
    padding: 10px;
  }
  
  textarea {
    min-height: 150px;
  }
  
  .btn-primary {

    .submitted-label {
      display: none;
    }
    
    &.submitting {
      background-color: $loading;
    }
    
    &.submitted {
      background-color: $success;
      
      label {
        &.submitted-label {
          display: block;
        }
        &.submit-label {
          display: none;
        }
      }
    }
  }  
}