@import 'variables';

header.landing-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 300;
  height: 4em;
  
  .contents {
    padding: 3rem 6.25rem 1.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    
    .primary {
      display: flex;
      align-items: flex-end;
    }
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    
    a {
      white-space: nowrap;
      line-height: 30px;
      
      &:hover {
        color: $tertiary;
      }
    }
  }
  
  a.primary-item-link:hover {
    color: $tertiary;
    
    .d-icon {
      fill: $tertiary;
    }
  }
}

body.scrolled header.landing-header {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

body.scrolled header.landing-header,
body.menu-visible header.landing-header,
header.landing-header:hover {
  background-color: $secondary;
  border-bottom: .0625rem solid #dbd9d2;
}

.header-title {
  margin: 0 3.125rem 0 0;
  
  a {
    display: flex;
  }
  
  img {
    max-height: 3em;
  }
}

@media only screen and (max-width: 480px) {
  header.landing-header {
    padding: 10px 20px 10px 13px;
    box-sizing: border-box;
    
    .contents {
      padding: 0;
    }
    
    .mobile-toggle {
      display: flex;
      
      .d-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}