@import 'variables';

body.landing-page {
  header.landing-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 300;
    background-color: $secondary;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    min-height: 80px;

    .contents {
      padding: 1em 2em;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: center;
      display: flex;
      height: 100%;

      .primary {
        display: flex;
        align-items: flex-start;
        box-sizing: border-box;
        height: 100%;
      }

      .menu {
        height: 100%;
        box-sizing: border-box;
        align-items: stretch;
      }

      .notice {
        padding-top: 1.5em;
        cursor: pointer;
      }
    }

    .header-buttons {
      display: flex;
      align-items: center;

      a {
        white-space: nowrap;
        margin-left: 1em;
      }
    }

    a.primary-item-link:hover {
      color: $tertiary;

      .d-icon {
        fill: $tertiary;
      }
    }
  }

  .header-title {
    margin: 0;

    a {
      display: flex;
      color: $tertiary;
      line-height: 3.5rem;
    }

    img {
      max-height: 3em;
    }
  }

  .primary-description h2 {
    margin: 0 0 .5em 0;
  }

  @media only screen and (max-width: 480px) {
    header.landing-header {
      padding: 10px 20px 10px 13px;
      box-sizing: border-box;
      min-height: 60px;

      .contents {
        padding: 0;
      }

      .mobile-toggle {
        display: flex;

        .menu-icon {
          display: block;
        }

        .hide-menu-icon {
          display: none;
        }

        .d-icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    .primary-description h2 {
      display: none;
    }

    &.menu-visible header.landing-header .mobile-toggle {
      .menu-icon {
        display: none;
      }

      .hide-menu-icon {
        display: block;
      }
    }
  }
}