@import 'variables';

body.landing-page {
  ul.item-list {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    
    .item {
      background-color: $secondary;
      border: 1px solid rgba($primary, 0.15);
      border-radius: 4px;
      padding: 20px;
      max-width: 300px;
      display: inline-block;
      
      .item-title {
        border-bottom: 1px solid $primary;
        margin-bottom: .5em;
      }
      
      .item-image {
        margin: 1em 0;
        
        img {
          max-width: 100%;
        }
      }
      
      .image {
        width: 300px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      
      &:hover {
        box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
      }
      
      .emoji {
        width: 20px;
        height: 20px;
      }
    }
  }
}