@import 'variables';

body.landing-page {
  .menu {
    display: inline-flex;
    align-items: center;
    margin: 0;
    list-style: none;
    z-index: 200;
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    > a:hover {
      color: $tertiary;
    }
  }

  .primary-item {
    padding: 1.25em;
    
    a {
      font-size: 16px;
      display: block;
    }
    
    .primary-item-link {
      display: flex;
      align-items: center;
      line-height: 30px;
      
      label {
        cursor: pointer;
        white-space: nowrap;
      }
      
      span {
        display: none;
        align-items: center;
        margin-left: 3px;
        
        &.down {
          display: flex;
        }
      }
    }
    
    .primary-description {
      display: flex;
      
      .more {
        display: inline-flex;
        align-items: center;
        margin-left: 7px;
        
        .d-icon {
          margin-left: 3px;
        }
      }
    }
    
    .d-icon {
      width: 15px;
      height: 15px;
    }
  }

  .menu-dropdown {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 4rem 6.25rem 4rem;
    position: absolute;
    visibility: hidden;
    width: 100%;
    top: 9em;
    z-index: 200;
    background-color: $secondary;
    
    &:before {
      backface-visibility: hidden;
      background-color: white;
      border-bottom: 1px solid $primary-medium;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
    
    li {
      backface-visibility: hidden;
      opacity: 0;
      position: relative;
      
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .primary-item:hover {
    .primary-item-link {
      span.up {
        display: flex;
      }
      span.down {
        display: none;
      }
    }
    
    .menu-dropdown {
      visibility: visible;
      
      &:before {
        opacity: 1;
      }
      
      li {
        opacity: 1;
      }
      
      &.has-description {
        padding-top: 0;
      }
      
      .primary-description {
        display: block;
        width: 100%;
        position: relative;
        padding-bottom: 3rem;
        
        span:not(.more) {
          max-width: 700px;
          display: inline-block;
          line-height: 1.7em;
        }
      }
    }
  }

  .menu-item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    width: 100%;
    
    .item {
      position: relative;
      
      &.coming-soon a {
        cursor: default;
        pointer-events: none;
      }
      
      &.coming-soon .content {
        color: rgba($primary, 0.5);
      }
      
      &.coming-soon .image {
        position: relative;
        
        &:after {
          content: " ";
          z-index: 10;
          display: block;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          background: rgba(255, 255, 255, 0.5);
        }
      }
      
      .label {
        margin: 10px 0;
        white-space: nowrap;
        display: inline-block;
      }
      
      .coming-soon {
        display: inline-block;
        margin-left: 10px;
        font-size: 0.8em;
        font-style: italic;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    header.landing-header {
      padding: 10px 20px 10px 13px;
      box-sizing: border-box;
      
      .contents {
        padding: 0;
      }
      
      .mobile-toggle {
        display: flex;
        
        .d-icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    
    .mobile-header .menu {
      position: fixed;
      overflow: scroll;
      top: 6em;
      bottom: 0;
      right: 0;
      left: 0;
      visibility: hidden;
      padding: 20px;
      background-color: white;
      flex-direction: column;
      align-items: flex-start;
      
      .menu-dropdown {
        display: none;
      }
    }
    
    body.menu-visible {
      overflow: hidden;
    
      .mobile-header .menu {
        visibility: visible;
        overflow: scroll;
        padding: 2em;
        
        li.primary-item {
          margin: 0 0 1em 0;
          width: 100%;
          
          a {
            font-size: 1.1rem;
          }
          
          &:last-of-type {
            padding-bottom: 60px;
          }
          
          .primary-description .more {
            display: flex;
            margin: 7px 0;
          }
        }
        
        .primary-item-link {
          margin-bottom: 30px;
          
          label {
            display: inline-block;
            background-image: linear-gradient(180deg, transparent 90%, $tertiary 0);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            text-decoration: none;
            font-size: 1.5rem;
            color: $primary;
            transition: background-size .4s ease;
            cursor: pointer;
          }
        }
        
        .menu-dropdown {
          display: flex;
          visibility: visible;
          flex-direction: column;
          position: relative;
          top: initial;
          padding: 0;
          
          .menu-item-list {
            display: flex;
            flex-wrap: wrap;
            gap: unset;
            margin: 15px 0;
            
            li.item {
              width: 100%;
              backface-visibility: visible;
              opacity: 1;
              padding: 0;
              margin: 1.5em 0;
              
              a .image {
                float: left;
                margin-right: 0.8rem;
                background-position: initial;
              }
              
              .content {
                display: flex;
                
                .label {
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
    
    .item > a {
      display: flex;
      
      .label {
        margin: 5px 0;
      }
    }
  }
}