@import 'variables';
@import 'utils';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'user';
@import 'contact-form';
@import 'list';
@import 'post';
@import 'search';

body {
  margin: 0;
  padding: 0;
  color: $primary;
}

body.forbidden {
  padding: 5em;
}