@import 'variables';
@import 'utils';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'menu';
@import 'user';
@import 'forms';
@import 'modal';
@import 'list';
@import 'post';
@import 'topic';
@import 'search';

body.landing-page {
  margin: 0;
  padding: 0;
  color: $primary;
}

body.landing-page.forbidden {
  padding: 5em;
}