@import "variables";

body.landing-page {
  .topic-meta {
    margin-top: 1em;
  }

  .topic-byline {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    width: 100%;

    .author {
      display: flex;
      justify-content: center;
    }

    .bull {
      opacity: 0.6;
      padding: 0.5em 1em;
    }

    .link {
      display: flex;
      align-items: center;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5em;
        width: 20px;
        height: 20px;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
