@import 'variables';

body.landing-page {
  .user-top {
    display: flex;

    img {
      border-radius: 50%;
    }

    .user-profile-details {
      margin-left: .5em;
    }

    .user-profile {
      display: flex;
      align-items: center;
    }

    .user-location {
      display: flex;
      align-items: center;
      margin-top: 10px;

      .d-icon {
        height: 1em;
        width: 1em;
        margin-right: 5px;
      }
    }

    .user-groups {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      span {
        font-size: 0.8em;
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }

  .user-bio {
    margin-top: 20px;
    display: block;
  }
}