{{#if topic.landing_page_url}}
  <a
    href="/{{topic.landing_page_url}}"
    title="{{i18n 'topic.landing_page.link'}}"
    class="landing-page-url"
    target="_blank"
  >
    {{d-icon "file-lines"}}
    <span>{{i18n "topic.landing_page.link"}}</span>
  </a>
{{/if}}
